/* Add styles for the highlighted location (hollow circle) */
.highlighted {
    width: 20px;
    height: 20px;
    border: 2px solid red;
    border-radius: 50%; /* Makes the shape a circle */
    position: absolute;
    transform: translate(-50%, -50%); /* Center the circle at the coordinates */
    pointer-events: none; /* Prevents the circle from blocking mouse interactions with the image */
}

#map-container {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

#map-image {
    width: 400px; /* Adjust the width as needed */
    height: 250px; /* Adjust the height as needed */
}

#location-list {
    text-align: center;
    margin-top: 300px; /* Adjust the margin as needed */
    list-style-type: none;
}

 /* CSS for the card */
 .card {
    width: 400px;
    height: 600px;
    border: 1px solid #ccc;
    
    position: absolute;
    top: 43%;
    left: 36%;
    margin-left: auto;
    margin-right: auto;
    
    visibility: hidden;
}

/* CSS for the content */
.card-content {
    width: 75%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 15px;
    margin-right: 45px;
    margin-left: 45px;
    margin-top: 30px;
    display: block;
}

img {
    width: 310px;
    height: auto; /*to preserve the aspect ratio of the image*/
}

/* CSS for the navigation arrows */
.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background-color: #DEF2C8;
    color: black;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.prev-arrow {
    left: 10px;
}

.next-arrow {
    right: 10px;
}